.bg-image{
	background-image:url("../images/bg.jpg");
	background-repeat:no-repeat;
	background-size:100%;
}

.login-frm{
    width: 400px;
    height: 300px;
    float: right;
    margin-right: 250px;
    margin-top:100px;
    background-color: white;
    text-align: center;
}